@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf'), url('../fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Thin.ttf'), url('../fonts/Roboto-Thin.ttf');
    font-weight: lighter;
    font-style: normal;
}

html, body {
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: column;
    flex-flow: column;
    align-items: stretch;
    min-height: 100%;
    min-width: 100%;
}

body {
    font-family: 'Roboto';
    font-weight: lighter;
    margin: auto;
}

#openFileWrapper, #main {
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: column;
    flex-flow: column;
}

#openFileWrapper, #openFileWrapper div {
    align-items: center;
    margin: auto;
    text-align: center;
}

#main {
    align-items: stretch;
}

#fileInput {
    display: none;
}

.openCancelButton {
    margin: 5px auto;
}

.absoluteAlert {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}