<!-- Modal -->
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="editModalLabel">Edit - {{record.title}} [{{record.username}}]</h4>
        </div>
        <div class="modal-body">
            <!-- Tab buttons -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#editEditTab" role="tab" data-toggle="tab" data-target="[data-record-modal-uuid={{record.uuid}}] .editEditTab">Details</a></li>
                <li><a href="#editSettingsTab" role="tab" data-toggle="tab" data-target="[data-record-modal-uuid={{record.uuid}}] .editSettingsTab">Settings</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Start Main Tab -->
                <div class="tab-pane active editEditTab" id="editEditTab">
                    <ul class="list-group form-inline">
                        <li class="list-group-item">
                            <label>Group: &nbsp;</label>{{record.group}}
                        </li>
                        <li class="list-group-item">
                            <label>Title: &nbsp;</label><input type="text" class="form-control" value="{{record.title}}" ng-model="record.title" ng-change="changed()">
                        </li>
                        <li class="list-group-item">
                            <label>URL: &nbsp;</label><input type="text" class="form-control" value="{{record.URL}}" ng-model="record.URL" ng-change="changed()">
                        </li>
                        <li class="list-group-item">
                            <label>Username: &nbsp;</label><input type="text" class="form-control" value="{{record.username}}" ng-model="record.username" ng-change="changed()">
                        </li>
                        <li class="list-group-item" ng-init="passwordShown = false">
                            <label>Password: &nbsp;</label><input type="{{(passwordShown) ? 'text' : 'password'}}" class="form-control" value="{{record.password}}" ng-model="record.password" ng-change="changed(record)">
                            <span ng-click="passwordShown = !passwordShown" ng-class="{'passwordShown': passwordShown}" class="hoverCursor icon-eye"></span><br>
                            <label>Generate New Password: &nbsp;</label><input type="button" class="btn btn-default" value="Generate" ng-click="genPw(record)">
                            <p>Password Strength: {{record.password | passwordStrengthScore}} out of 4</p>
                            <p>Last Modified: {{record.passphraseModifyTime | date : 'mediumDate'}}</p>
                        </li>
                        <li class="list-group-item">
                            <label>Notes: &nbsp;</label><input type="text" class="form-control" value="{{record.notes}}" ng-model="record.notes" ng-change="changed()">
                        </li>
                    </ul>
                </div>
        
                <!-- Start Settings Tab -->
                <div class="tab-pane editSettingsTab" id="editSettingsTab">
                    <input type="button" ng-if="record.passphrasePolicy === undefined" class="btn btn-default" value="Override Default Password Policy" ng-click="enableCustomPolicy(record)">
                    <ul class="list-group" ng-if="record.passphrasePolicy !== undefined">
                        <li class="list-group-item">
                            <label for="recordPolicyLength">Length</label>
                            <input type="number" id="recordPolicyLength" class="form-control" ng-model="record.passphrasePolicy.length" ng-change="changed()">
                        </li>
                        <li class="list-group-item">
                            <label for="recordPolicyMinLowercase">Lowercase</label>
                            <input type="checkbox" ng-click="toggleRecordFlag(record, 'useLowercase'); changed()"  ng-checked="checkFlag(record.passphrasePolicy.flags, 'useLowercase')">
                            <div class="form-group input-group">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default">
                                        Minimum
                                    </button>
                                </span>
                                <input type="number" id="recordPolicyMinLowercase" class="form-control" ng-model="record.passphrasePolicy.minLowercase" ng-change="changed()">
                            </div>
                        </li>
                        <li class="list-group-item">
                            <label for="recordPolicyMinUppercase">Uppercase</label>
                            <input type="checkbox" ng-click="toggleRecordFlag(record, 'useUppercase'); changed()" ng-checked="checkFlag(record.passphrasePolicy.flags, 'useUppercase')">
                            <div class="form-group input-group">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default">
                                        Minimum
                                    </button>
                                </span>
                                <input type="number" id="recordPolicyMinUppercase" class="form-control" ng-model="record.passphrasePolicy.minUppercase" ng-change="changed()">
                            </div>
                        </li>
                        <li class="list-group-item">
                            <label for="recordPolicyMinDigits">Digits</label>
                            <input type="checkbox" ng-click="toggleRecordFlag(record, 'useDigits'); changed()" ng-checked="checkFlag(record.passphrasePolicy.flags, 'useDigits')">
                            <div class="form-group input-group">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default">
                                        Minimum
                                    </button>
                                </span>
                                <input type="number" id="recordPolicyMinDigits" class="form-control" ng-model="record.passphrasePolicy.minDigit" ng-change="changed()">
                            </div>
                        </li>
                        <li class="list-group-item">
                            <label for="recordPolicyMinSymbols">Symbols</label>
                            <input type="checkbox" ng-click="toggleRecordFlag(record, 'useSymbols'); changed()" ng-checked="checkFlag(record.passphrasePolicy.flags, 'useSymbols')"><br>
                            <div class="form-group input-group">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default">
                                        Minimum
                                    </button>
                                </span>
                                <input type="number" id="recordPolicyMinSymbols" class="form-control" ng-model="record.passphrasePolicy.minSymbol" ng-change="changed()">
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default">
                                        Symbols
                                    </button>
                                </span>
                                <input type="text" id="recordPolicyOwnSymbols" class="form-control" ng-model="record.ownPassphraseSymbols" ng-change="changed()">
                            </div>
                        </li>
                    </ul>
                    <input type="button" value="Remove Custom Policy" class="btn btn-default" ng-if="record.passphrasePolicy !== undefined" ng-click="removePolicy(record)">
                    <input type="button" value="Delete Record" class="btn btn-default" data-dismiss="modal" ng-click="deleteRecord(record.uuid);">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
