<!doctype html>
<html ng-app="primate" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Primate</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    
    <script src="js/libpwsafejs/jDataView/jquery/jquery-1.7.1-binary-ajax.js"></script>
    <script src="js/libpwsafejs/jDataView/src/jdataview.js"></script>
    <script src="js/libpwsafejs/jDataView/src/jdataview-jquery-converter.js"></script>
    <script src="js/libpwsafejs/crypto-sha256-hmac.js"></script>
    <script src="js/libpwsafejs/twofish.js"></script>
    <script src="js/libpwsafejs/pwsafedb.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factories.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="bower_components/zxcvbn/zxcvbn.js"></script>
    <script src="bower_components/fuse.js/src/fuse.js"></script>
    <script src="bower_components/file-saver/FileSaver.js"></script>
</head>
<body ng-controller="StateCtrl">
    <!-- Open file, no file selected -->
    <div ng-if="state === 'unloaded'" id="openFileWrapper">
        <h1>Drag &amp; Drop Password Database Here</h1>
        <h3>or</h3>
        <div class="btn-group" id="dbSelectButtons" ng-if="state !== 'loaded'" ng-init="$('openFileButton').focus()">
            <button type="button" class="btn btn-primary btn-lg" onclick="document.getElementById('fileInput').click()" id="openFileButton">
                 <i class="icon-folder"></i>&nbsp;Open Database
            </button>
            <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#newDBModal">
                <i class="icon-plus"></i>&nbsp;New Database
            </button>
        </div>
        <div id="follow">Drop</div>
        <input type="file" id="fileInput" onchange="angular.element(this).scope().fileChanged(this)">
    </div>
    <!-- Open file, file selected -->
    <div ng-if="state === 'loaded'" id="openFileWrapper">
        <h1>Enter Password</h1>
        <h3>{{databaseFilename}}</h3>
        <form role="form" ng-submit="open()" class="form-horizontal">
            <div class="form-group input-group" id="passwordGroup">
                <input type="password" class="form-control" id="passwordField" ng-model="$parent.pass">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">
                        <i class="icon-arrow-right"></i>
                    </button>
                </span>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default center-block openCancelButton" ng-click="closeDb()">Back to file select</button>
            </div>
        </form>
        <div class="alert alert-danger absoluteAlert" ng-if="alerts.invalidPassword" role="alert">Invalid password, try again.</div>
        <div class="alert alert-warning absoluteAlert" ng-if="alerts.notSaved" role="alert">Password database has unsaved changes.</div>
        <div class="alert alert-info absoluteAlert" ng-if="alerts.autoLocked" role="alert">Database automatically locked due to inactivity.</div>
    </div>
    <!-- End open file -->

    <!-- Main application -->
    <div ng-if="state === 'unlocked'" id="main">
        <header>
            <span class="toolhint"><p ng-click="saveDb()" class="hoverCursor icon-inbox"></p><span>Save file</span></span>
            <span class="toolhint"><p data-toggle="modal" data-target="#settingsModal" class="hoverCursor icon-settings"></p><span>Settings</span></span>
            <span class="toolhint"><p ng-click="lockDb()" class="hoverCursor icon-lock" id="lockButton"></p><span>Lock file</span></span>
        </header>

        <div id="treeView">
            <div class="rootGroup">
                <span>{{databaseFilename}} {{(auditMode) ? " - Audit Mode" : "" }}<span class="hoverCursor" id="auditClose" ng-if="auditMode" ng-click="stopAudit(); $event.stopPropagation();"><i class="icon-cross"></i></span></span>
                <a class="addRecord" ng-if="!auditMode && !searchMode" ng-click="addRecord(''); $event.stopPropagation(); recordShown = true;"><i class="icon-plus"></i>Add Record</a>
                <a class="addRecord" ng-if="!auditMode && !searchMode" ng-click="addGroup(); $event.stopPropagation();"><i class="icon-plus"></i>Add Group</a>
                <a class="addRecord" ng-if="!auditMode && !searchMode" ng-click="startAudit(); $event.stopPropagation();"><i class="icon-lab"></i>Audit</a>
                <div ng-if="!auditMode">
                    <input type="text" maxlength="32" class="form-control" placeholder="search" id="searchField" ng-model="searchValue" ng-change="search(searchValue)">
                </div>
            </div>
            <div class="rootGroupIndent">
                <div ng-repeat="data in recordTree" ng-include="'templates/group_renderer.html'"></div>
                <div id="auditView" ng-if="auditMode">
                    <div ng-repeat="record in records | orderBy:auditValue" class="record">
                        <div>
                            <span class="toolhint3"><i class="icon-data" alt="Group"></i><span>{{(record.group) ? record.group : "No Group"}}</span></span>
                            <a data-toggle="modal" data-target="[data-record-modal-uuid={{record.uuid}}]">{{record.title}} {{record.username ? "(" + record.username + ")" : ""}}</a>
                        </div>
                        <strength-meter data-record-meter-uuid="{{record.uuid}}" value="record.password"></strength-meter><span> | Last Modified: {{record.passphraseModifyTime | date : 'mediumDate'}}</span>
                        <span class="toolhint4"><i class="icon-pen" data-toggle="modal" data-target="[data-record-modal-uuid={{record.uuid}}]" alt="Edit Account"></i><span>Edit here</span></span>
                    </div>
                </div>
                <div id="searchView" ng-if="searchMode && !auditMode">
                    <div ng-repeat="record in searchRecords" class="record">
                        <div>
                            <span class="toolhint3"><i class="icon-data" alt="Group"></i><span>{{(record.group) ? record.group : "No Group"}}</span></span>
                            <a data-toggle="modal" data-target="[data-record-modal-uuid={{record.uuid}}]">{{record.title}} {{record.username ? "(" + record.username + ")" : ""}}</a>
                        </div>
                        <span class="lightText">{{record.passphraseModifyTime | date : 'shortDate'}}</span>
                        <div class="recordButtonContainer" ng-include="'templates/record_button_container.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel" aria-hidden="true" ng-include="'settingsModal.html'"></div>
    <div class="modal fade" id="newDBModal" tabindex="-1" role="dialog" aria-labelledby="newDBModalLabel" aria-hidden="true" ng-include="'newDBModal.html'"></div>
</body>
</html>
