<!-- Modal -->
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="settingsModalLabel">Settings</h4>
        </div>
        <div class="modal-body">
            <!-- Tab buttons -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#defaultPolicyTab" role="tab" data-toggle="tab">Default Password Policy</a></li>
                <li><a href="#masterPasswordTab" role="tab" data-toggle="tab">Master Password</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="defaultPolicyTab">
                    <ul class="list-group">
                        <li class="list-group-item clearfix">
                            <div class="col-xs-4 text-right">
                                <label for="defaultRecordPolicyLength">Length</label>
                            </div>
                            <div class="col-xs-8">
                                <input type="number" id="defaultRecordPolicyLength" class="form-control" ng-model="defaultPolicy.length" ng-change="changed()">
                            </div>
                        </li>
                        <li class="list-group-item clearfix">
                            <div class="col-xs-4 text-right">
                                <label for="defaultRecordPolicyMinLowercase">Lowercase</label>
                                <input type="checkbox" ng-click="toggleFlag(defaultPolicy, 'useLowercase'); changed()"  ng-checked="checkFlag(defaultPolicy.flags, 'useLowercase')">
                            </div>
                            <div class="col-xs-8">
                                <div class="form-group input-group">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-default">
                                            Minimum
                                        </button>
                                    </span>
                                    <input type="number" id="defaultRecordPolicyMinLowercase" class="form-control" ng-model="defaultPolicy.minLowercase" ng-change="changed()">
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item clearfix">
                            <div class="col-xs-4 text-right">
                                <label for="defaultRecordPolicyMinUppercase">Uppercase</label>
                                <input type="checkbox" ng-click="toggleFlag(defaultPolicy, 'useUppercase'); changed()" ng-checked="checkFlag(defaultPolicy.flags, 'useUppercase')">
                            </div>
                            <div class="col-xs-8">
                                <div class="form-group input-group">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-default">
                                            Minimum
                                        </button>
                                    </span>
                                    <input type="number" id="defaultRecordPolicyMinUppercase" class="form-control" ng-model="defaultPolicy.minUppercase" ng-change="changed()">
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item clearfix">
                            <div class="col-xs-4 text-right">
                                <label for="defaultRecordPolicyMinDigits">Digits</label>
                                <input type="checkbox" ng-click="toggleFlag(defaultPolicy, 'useDigits'); changed()" ng-checked="checkFlag(defaultPolicy.flags, 'useDigits')">
                            </div>
                            <div class="col-xs-8">
                                <div class="form-group input-group">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-default">
                                            Minimum
                                        </button>
                                    </span>
                                    <input type="number" id="defaultRecordPolicyMinDigits" class="form-control" ng-model="defaultPolicy.minDigit" ng-change="changed()">
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item clearfix">
                            <div class="col-xs-4 text-right">
                                <label for="defaultRecordPolicyMinSymbols">Symbols</label>
                                <input type="checkbox" ng-click="toggleFlag(defaultPolicy, 'useSymbols'); changed()" ng-checked="checkFlag(defaultPolicy.flags, 'useSymbols')"><br>
                            </div>
                            <div class="col-xs-8">
                                <div class="form-group input-group">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-default">
                                            Minimum
                                        </button>
                                    </span>
                                    <input type="number" id="defaultRecordPolicyMinSymbols" class="form-control" ng-model="defaultPolicy.minSymbol" ng-change="changed()">
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-default">
                                            Symbols Used
                                        </button>
                                    </span>
                                    <input type="text" id="defaultRecordPolicyOwnSymbols" class="form-control" ng-model="defaultSymbols" ng-change="changed()">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane" id="masterPasswordTab">
                    <ul class="list-group">
                        <li class="list-group-item clearfix">
                            <div class="col-xs-4 text-right">
                                <label for="oldPassword">Old Password</label>
                            </div>
                            <div class="col-xs-8 form-group">
                                <input type="password" id="oldPassword" class="form-control" ng-model="oldPassword">
                            </div>
                            <div class="col-xs-4 text-right">
                                <label for="newPassword1">New Password</label>
                            </div>
                            <div class="col-xs-8 form-group">
                                <input type="password" id="newDBPass1" class="form-control" ng-model="newPassword1" ng-change="updateNewMasterStrengthMeter(newPassword1)">
                            </div>
                            <div class="col-xs-4 text-right">
                                <label for="newPassword2">Confirm New Password</label>
                            </div>
                            <div class="col-xs-8 form-group">
                                <input type="password" id="newDBPass2" class="form-control" ng-model="newPassword2">
                            </div>
                            <div class="col-xs-4 text-right">
                                <label>Strength</label>
                            </div>
                            <div class="col-xs-8 form-group">
                                <strength-meter value="newpass || ''"></strength-meter>
                            </div>
                            <div class="col-xs-12 text-center">
                                <button type="button" ng-click="changePassSuccess = changeMasterPassword(oldPassword, newPassword1); changed()" class="btn btn-primary" ng-disabled="!newPassword1 || newPassword1 !== newPassword2">Change Password</button>
                            </div>
                        </li>
                    </ul>
                    <div class="alert alert-success" ng-if="changePassSuccess === true" role="alert">Password Successfully Changed! Please save the database to maintain the changes.</div>
                    <div class="alert alert-danger" ng-if="changePassSuccess === false" role="alert">Old password is incorrect, try again.</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
