<!doctype html>
<html ng-app="primate">
<head>
    <meta charset="utf-8">
    <title>Primate</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="js/libpwsafejs/jDataView/jquery/jquery-1.7.1-binary-ajax.js"></script>
	<script type="text/javascript" src="js/libpwsafejs/jDataView/src/jdataview.js"></script>
	<script type="text/javascript" src="js/libpwsafejs/jDataView/src/jdataview-jquery-converter.js"></script>
	<script type="text/javascript" src="js/libpwsafejs/crypto-sha256-hmac.js"></script>
	<script type="text/javascript" src="js/libpwsafejs/twofish.js"></script>
	<script type="text/javascript" src="js/libpwsafejs/pwsafedb.js"></script>
	<script src="bower_components/zxcvbn/zxcvbn.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/services.js"></script>
</head>
<body ng-controller="LibraryTestController">
    <h1>Primate Password Manager</h1>
	
	<select ng-model="currentRecord" ng-options="record.title for record in records"></select>
	
	<div>
		Title: <input type="text" ng-model="currentRecord.title">
		Password: <input type="text" ng-model="currentRecord.password">
	</div>
</body>
</html>
