<!-- Start record tree display -->
<span class="record">
    <span class="recordHandle">&nbsp;</span>
    <a data-toggle="modal" data-target="[data-record-uuid={{record.uuid}}]">{{record.title}}</a>
    <span class="recordButtonContainer clearfix">
        <span class="lightText">{{record.passphraseModifyTime | date : 'medium'}}</span>
        <span ng-click="copyUsername(record.uuid)" class="hoverCursor glyphicon glyphicon-user" alt="Copy Username"></span>
        <span ng-click="copyPassword(record.uuid)" class="hoverCursor glyphicon glyphicon-asterisk" alt="Copy Password"></span>
        <span ng-click="gotoUrl(record.uuid)" class="hoverCursor glyphicon glyphicon-globe" alt="Copy URL"></span>
        <span data-toggle="modal" data-target="[data-record-modal-uuid={{record.uuid}}]" class="hoverCursor glyphicon glyphicon-pencil" alt="Edit Account"></span>
    </span>
</span>
<!-- End record tree display -->

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true" ng-include="'editModal.html'" data-record-modal-uuid="{{record.uuid}}"></div>