<!-- Start record tree display -->
<div class="record">
    <div>
        <a data-toggle="modal" data-target="[data-record-uuid={{record.uuid}}]">{{record.title}} {{record.username ? "(" + record.username + ")" : ""}}</a>
    </div>
    <span class="lightText">{{record.passphraseModifyTime | date : 'shortDate'}}</span>
    <div class="recordButtonContainer">
        <i ng-click="copyToClipboard(record.username)" class="fa fa-user" alt="Copy Username"></i>
        <i class="fa fa-key" ng-click="copyToClipboard(record.password)" alt="Copy Password"></i>
        <i ng-click="gotoUrl(record.uuid)" class="fa fa-globe" alt="Copy URL"></i>
        <i class="fa fa-edit" data-toggle="modal" data-target="[data-record-modal-uuid={{record.uuid}}]" alt="Edit Account"></i>
    </div>
</div>
<!-- End record tree display -->

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true" ng-include="'editModal.html'" data-record-modal-uuid="{{record.uuid}}"></div>
